<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
</head>
<body>
    <h1>Articles</h1>
    <nav>

        {% if user.is_anonymous %}
            <a href="{% url 'auth' %}">Войти</a>
            <a href="{% url 'registration' %}">Зарегистрироваться</a>
        {% else %}
            <a href="{% url 'main' %}">Профиль</a>
            <a href="{% url 'articles_create' %}">Написать статью</a>
            <a href="{% url 'other_authors' %}">Другие авторы</a>
            <a href="{% url 'logout' %}">Выйти</a>
        {% endif %}
    </nav>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>