{% extends "web/base.html" %}
{% block content %}
    <h1>Профиль</h1>

    {% if user.is_anonymous %}
        <p><b>Необходимо авторизоваться</b></p>
    {% endif %}

    {% if not user.is_anonymous %}
        <p><b>{{user.name}} {{user.surname}}</b></p>
        <p>Ваши статьи:</p>
        <ul>
            {% for article in articles %}
                <li>
                    <b>{{ article.title }}</b>
                    Дата публикации - {{article.create_date|date:'d-m-Y'}}
                    <a href="{% url 'articles_edit' article.id %}">Редактировать</a>
                    <a href="{% url 'articles_view' article.id %}">Просмотреть</a>
                </li>
            {% endfor %}
        </ul>
            <p><b>Ваши подписки:</b></p>
        <ul>
            {% for subscription in subscriptions %}
                <li>
                    <b>{{ subscription.name }} {{ subscription.surname }}</b>
                    <a href="{% url 'check_profile' subscription.id %}">Посмотреть профиль</a>
                </li>
            {% endfor %}
        </ul>

    {% endif %}

{% endblock %}