{% extends "web/base.html" %}
{% block content %}
    <h1>Профиль</h1>

    {% if user.is_anonymous %}
        <p><b>Необходимо авторизоваться</b></p>
    {% endif %}

    {% if not user.is_anonymous %}
        <p><b>{{user.name}} {{user.surname}} <a href="{% url 'edit_profile' %}">Редактировать</a></b></p>
        <small>На вас подписано {{ subscribers_count }} человек</small><br>
        {% if user.photo %}
            <img src="{{ user.photo.url }}">
        {%  endif %}
        <p>Ваши статьи:</p>
        <form action="">
            <b>Поиск по названию:</b><br>
            {% for fields in filter_form %}
                {{ fields }}
            {% endfor %}
            <button>Искать</button>
            <button name="export" value="csv">Скачать CSV</button>
        </form>
        <ul>
            {% for article in articles %}
                <li>
                    <b>{{ article.title }}</b>
                    Дата публикации - {{article.create_date|date:'d-m-Y'}}
                    <a href="{% url 'articles_edit' article.id %}">Редактировать</a>
                    <a href="{% url 'articles_view' article.id %}">Просмотреть</a>
                </li>
            {% endfor %}
            <br>
            {% if articles.has_previous %}
                <a href="?{{ get_params.urlencode }}&page=1">В начало </a>
                <a href="?{{ get_params.urlencode }}&page={{ articles.previous_page_number }}">Предыдушая</a>
            {% endif %}
            Страница {{ articles.number }} из {{ articles.paginator.num_pages }}
            {% if articles.has_next %}
                <a href="?{{ get_params.urlencode }}&page={{ articles.next_page_number }}">Следующая</a>
                <a href="?{{ get_params.urlencode }}&page={{ articles.paginator.num_pages }}">В конец </a>

            {% endif %}
        </ul>
            <p><b>Ваши подписки:</b></p>
        <ul>
            {% for subscription in subscriptions %}
                <li>
                    <b>{{ subscription.name }} {{ subscription.surname }}</b>
                    <a href="{% url 'check_profile' subscription.id %}">Посмотреть профиль</a>
                </li>
            {% endfor %}
        </ul>

    {% endif %}

{% endblock %}